{% extends 'back_base.html.twig' %}

{% block body %}
    <div class="row">
    <div style="margin-top: 20px;" class="col-12">
    <div class="alert alert-primary" role="alert">
        La Galerie d'accueil contient 6 photos, vous pouvez pas ajouter d'autres photos !
    </div>
    </div>
    </div>
{% endblock %}