<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                Marmo Design Admin &copy; 2019 - Idriss Mahjoubi
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->