    /*
    Flaticon icon font: Flaticon
    Creation date: 18/12/2018 17:39
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-museum:before { content: "\f100"; }
.flaticon-sketch:before { content: "\f101"; }
.flaticon-layers:before { content: "\f102"; }
.flaticon-cube:before { content: "\f103"; }
.flaticon-add-circular-button:before { content: "\f104"; }
.flaticon-greek-column:before { content: "\f105"; }
.flaticon-pillar:before { content: "\f106"; }
.flaticon-column:before { content: "\f107"; }
.flaticon-roman:before { content: "\f108"; }
.flaticon-column-1:before { content: "\f109"; }
.flaticon-pillar-1:before { content: "\f10a"; }
.flaticon-layout:before { content: "\f10b"; }
.flaticon-data:before { content: "\f10c"; }
.flaticon-parquet:before { content: "\f10d"; }
.flaticon-parquet-1:before { content: "\f10e"; }
.flaticon-draws:before { content: "\f10f"; }
.flaticon-tatami:before { content: "\f110"; }
    
    $font-Flaticon-museum: "\f100";
    $font-Flaticon-sketch: "\f101";
    $font-Flaticon-layers: "\f102";
    $font-Flaticon-cube: "\f103";
    $font-Flaticon-add-circular-button: "\f104";
    $font-Flaticon-greek-column: "\f105";
    $font-Flaticon-pillar: "\f106";
    $font-Flaticon-column: "\f107";
    $font-Flaticon-roman: "\f108";
    $font-Flaticon-column-1: "\f109";
    $font-Flaticon-pillar-1: "\f10a";
    $font-Flaticon-layout: "\f10b";
    $font-Flaticon-data: "\f10c";
    $font-Flaticon-parquet: "\f10d";
    $font-Flaticon-parquet-1: "\f10e";
    $font-Flaticon-draws: "\f10f";
    $font-Flaticon-tatami: "\f110";